/* GENERAL RULES */
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

img {
    width: 100%;
}

.jumbotron, #just_released, #marv_ban, footer {
    color: #fff;
}

    /* section margin generalized */
.block_preview, .ps_product_preview, 
#ps4_sect, .product_sell, #sales, #social {
    margin: 50px 0;
} 

    /* buttons */
.btn {
    padding: 3px 10px;
    border-radius: 20px;
}

.btn:hover {
    box-shadow: inset 0 0 0 2px #cfcfcf;
}

#odd_ban .btn:hover, #marv_ban .btn:hover {
    box-shadow: inset 0 0 0 2px #3F65DE;
}

    /* jumbo */
.jumbotron {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0 70px 0;
}

.jumbotron img {
    max-width: 50%;
    min-width: 280px;
}

.jumbotron h2 {
    margin: 20px 0;
    font-size: 2.5rem;
}

.jumbotron p {
    font-size: 1rem;
    margin: 20px 0;
}

    /* container for centering text */
.ps_container_center {
    text-align: center;
}

    /* preview blocks */
.block_preview {
    text-align: center;
}

.block_preview .col{
    padding: 12px 0;
}

.block_preview img {
    max-width: 350px;
    border-radius: 15px;
    padding: 3px;
    position: relative;
}

.block_preview .ps_block_active img{
    box-shadow: inset 0 0 0 2px #3499ec; 
}

.block_preview img:hover {
    box-shadow: inset 0 0 0 2px #3499ec;
    bottom: 20px;
}

    /* banner */
.ps_banner img {
    width: 50%;
    min-width: 250px;
    padding: 30px 0;
}

.ps_banner .ps_show_hide img {
    width: 100%;
    padding: 0;
}

    /* hide banner image */
@media screen and (max-width: 767px) {
    .ps_show_hide {
        display: none;
    }
}

/* HEADER */
header {
    font-family: 'Helvetica';
    font-size: .9rem;
}

.header_fix {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header_fix .navbar {
    height: 80px;
}

#page-brand {
    background-color: #000;
    padding: 8px 5px;
    display: flex;
    justify-content: flex-end;
}

#page-brand img {
    margin-right: 20px;
    max-height: 15px;
    width: auto;
}

    /* header nav */
nav .dropdown, .dropend, .dropstart, .dropup {
    position: static;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    width: 100%;
    text-align: center;
    max-height: 200px;
    overflow-y: auto;
}

nav .dropdown-menu li {
    display: inline-block;
    text-align: center;
}

nav .dropdown-menu li a {
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
}

nav .dropdown-menu li a img{
    border-radius: 10px;
    overflow: hidden;
}

nav .navbar-collapse {
    background-color: #F9F9FA;
}

nav .dropdown-item:hover {
    background-color: rgba(48, 110, 202, .6);
}

nav .ps_flex{
    flex-grow: 0;
}

nav .navbar-collapse>img {
    width: 30px;
    margin: 5px;
}
    /* nav button personalized */
@media screen and (max-width: 767px) {
    .navbar .btn {
        padding: 5px 50px;
        margin: 0 5px;
    }
    
}

    /* header jumbo */
header .jumbotron {
    margin-top: 111px;
    background-image: url('../img/jumbo-bg.png');
}

/* MAIN */
    /* ps5 section */
.ps_container_center h5 {
    text-transform: uppercase;
    color: #3070C7;
    margin-top: 70px;
    font-size: .8rem;
}

.ps_container_center h2 {
    margin:0 0 30px 0;
}

.ps_container_center p {
    font-weight: 300;
    color: #787777;
}

#ps5_sect a {
    margin: 5px 10px;
}

#ps5_sect img {
    max-width: 600px;
    min-width: 250px;
}
    /* photo preview */
#ps5_sect .ps_product_preview img{
    min-width: 120px;
    max-width: 150px;
    opacity: .7;
    margin-bottom: 30px;
}

.ps_product_preview .col {
    margin-bottom: 30px;
    border-bottom: 3px solid transparent;
}

#ps5_sect .ps_product_preview .col:hover {
    border-bottom: 3px solid #3499ec;
    cursor: pointer;
}

#ps5_sect .ps_product_preview .col:hover img{
    opacity: 1;
}

#ps5_sect .ps_product_preview .ps_ps5_active {
    border-bottom: 3px solid #3499ec;
    opacity: 1
}

#ps5_sect .ps_product_preview .ps_ps5_active img {
    opacity: 1
}

@media screen and (max-width: 767px) {
    #ps5_sect .ps_product_preview p {
        display: none;
    }
}

    /* jumbotron takes_two */
.jumbotron.takes_two {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    padding-top: 50px;
}

.jumbotron.takes_two img{
    max-width: 40%;
}

    /* just released section */
#just_released {
    background-color: #1F1F1F;
    color: #fff;
    padding: 30px 0;
}

#just_released.block_preview {
    margin: 0;
}

#just_released h2, #just_released p {
    text-align: initial;
}

#just_released h6 {
    text-align: initial;
    margin: 0 10px;
}

.block_preview .col:hover img{
    box-shadow: none;
    bottom: 0;
}

    /* ps4 section */
#ps4_sect h2 {
    margin: 0;
}

#ps4_sect h2 span {
    font-size: .8rem;
    vertical-align: text-top;
}

#ps4_sect p {
    margin: 0;
}

#ps4_sect .ps_container_center p:first-of-type {
    margin-top: 20px;
}

.product_sell img {
    width: 100%;
    max-width: 400px;
}

.product_sell p{
    font-size: 1.3rem;
}

.product_sell .btn {
    margin: 20px 0;
}

    /* ps_banner */ 
#odd_ban {
    background-color: #BCB9B8;
}

#odd_ban .btn {
    background-color: rgba(255, 255, 255, .5);
    margin-bottom: 20px;
}

#odd_ban .btn a {
    color: #3F65DE;
    border: transparent;
}

    /* marv_ban section */
#marv_ban {
    background-color: #181C39;
}

#marv_ban .btn {
    margin-bottom: 20px;
}

#marv_ban .btn a {
    text-decoration: none;
    color: #000;
}

    /* social section */
#social img {
    width: calc(25% - 10px);
    padding: 10px;
}

@media screen and (max-width: 575px) {
    #social img {
        width: calc(50% - 10px);
    }
}

/* FOOTER */
footer {
    background-color: #1A4296;
    padding: 50px 0;
}

    /* country section */
#country img {
    width: 80px;
}

#country h5 {
    margin: 30px 0;
    font-size: .8rem;
}

#country i.fa-globe {
    font-size: 1.2rem;
    margin-right: 10px;
    vertical-align: middle;
}

#foot_links li, #foot_links a {
    font-size: .9rem;
    list-style: none;
}

#foot_links a:hover, #copyrights a:hover {
    text-decoration: underline;
}

    /* copyrights section */
#copyrights {
    margin-top: 50px;
}

#copyrights img {
    width: 170px;
}